*{
    margin: 0px;
    padding: -10px;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
.navbar{
    display: flex;
    align-items: center;
    padding: -15px;
    
}
nav{
   flex: 1;
   text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;

}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;

    padding: 20px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: -10px;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 90%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #20bf55;
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
   transition: 0.9s;
}
.btn:hover{
    background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #335c81 74%);
}
.header{
    background-color: #0cbaba;
background-image: radial-gradient(315deg, #0cbaba 0%, #380036 74%);


}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;


}
.col-3{
    flex-basis: 30%;
}
.col-3 img{
    height: 400px;
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}
.col-4 img{
    width: 250px;
    height: 350px;
    
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #335c81 74%);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: black;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #0cbaba;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* offer */
.offer{
    color: #0cbaba;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    
    
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
   padding: 1px;
}
small{
    color: wheat;
}
/* testomonial */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0 ,0 ,0.1 );
    cursor: pointer;
    transition: 0.9s;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    height: 50px;
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* Brands */
.brands{
    margin: 100px auto; 
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.9s;
}
.col-5 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
    

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
 flex-basis: 12%;
 text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;

}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}
.menu-bar{
    width: 50px;
    height: 45px;
    margin-left: 20px;

}